* {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-family: "Bahnschrift";
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #eeeeee;
}
header nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid gray;
  margin: 0px 20px;
}
header nav img {
  width: 100%;
}
header nav .back {
  color: gray;
  cursor: pointer;
}
header nav .account {
  border: 1px solid gray;
  border-radius: 30px;
  background-color: white;
  background-position: center;
}

h1 {
  text-align: center;
}

@media (min-width: 280px) {
  body {
    padding-top: 40px;
    margin: 3px;
  }

  nav .back {
    font-size: 80%;
  }
  nav .logo {
    width: 60px;
    margin-right: 0px;
  }
  nav .account {
    background-size: 25px;
    width: 25px;
    height: 25px;
  }

  .big-box {
    margin: 0px;
  }
  .big-box .box p {
    font-size: large;
  }
  .big-box .box img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) {
  body {
    padding-top: 80px;
  }

  nav .back {
    font-size: 200%;
  }
  nav .logo {
    width: 120px;
    margin-right: 70px;
  }
  nav .account {
    background-size: 45px;
    width: 50px;
    height: 50px;
  }

  .big-box {
    margin: 0px 180px;
  }
  .big-box .box p {
    float: right;
    font-size: large;
  }
  .big-box .box img {
    width: 800px;
    height: 100%;
    display: block;
    padding: 10px;
    float: left;
  }
}