@charset "UTF-8";
* {
  font-family: "Bahnschrift";
}

body {
  margin: 0;
  background-color: #eeeeee;
}

img {
  width: 100%;
}

/*Верзняя панель*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #eeeeee;
}
header nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid gray;
  margin: 0px 20px;
}
header nav .back {
  color: gray;
  cursor: pointer;
}
header nav .account {
  border: 1px solid gray;
  border-radius: 30px;
  background-color: white;
  background-position: center;
}

/*Корзина*/
.root {
  width: 100%;
}
.root .root_top {
  margin: 0 auto;
  max-width: 1144px;
}
.root .root_top h1 {
  margin-bottom: 0;
}

/*Инфо*/
.basket_info {
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.basket_info h2 {
  margin: 10px;
}
.basket_info form, .basket_info fieldset {
  border: 0px;
}
.basket_info form #info_delivery, .basket_info fieldset #info_delivery {
  padding: 10px 0;
}
.basket_info form #info_adress, .basket_info fieldset #info_adress {
  padding: 10px 0;
}
.basket_info form #info_adress select, .basket_info fieldset #info_adress select {
  padding: 10px;
  border-radius: 10px;
}
.basket_info form .info_adress_2, .basket_info fieldset .info_adress_2 {
  padding: 10px 0;
}
.basket_info form .info_adress_2 .adress_box, .basket_info fieldset .info_adress_2 .adress_box {
  border-radius: 10px;
  padding: 10px;
  width: 18%;
}
.basket_info form .info_adress_2 #comment, .basket_info fieldset .info_adress_2 #comment {
  padding: 10px;
  border-radius: 10px;
  resize: none;
  width: 92%;
}
.basket_info form .info_time input, .basket_info fieldset .info_time input {
  padding: 10px;
  border-radius: 10px;
}

/*Оплата*/
.basket_total {
  display: inline-block;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.basket_total h2 {
  margin-top: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.basket_total .total_card {
  border-bottom: 1px solid gray;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.basket_total .total_card input {
  border: 0;
  text-decoration: none;
}
.basket_total .total_card .card_date {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.basket_total .total_card .card_date input {
  width: 20%;
}
.basket_total .card_box {
  padding: 10px;
}
.basket_total .card_box input {
  padding: 10px;
  border-bottom: 1px solid gray;
}

.card_cvv input {
  width: 17%;
}

.total_price h2 {
  margin-bottom: 5px;
}

.price_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.price_sumbit input {
  border: 0;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.price_sumbit {
  font-weight: bolder;
}

.price_sumbit input:hover {
  background-color: #016901;
}

/*Отпечаток*/
#root_bottom_box {
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  width: 88, 5%;
  padding: 10px;
}
#root_bottom_box div {
  margin: 30px 10px;
}
#root_bottom_box #rb_box_bold {
  font-weight: bold;
}
#root_bottom_box #rb_box_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#root_bottom_box #rb_comment {
  overflow-wrap: break-word;
}
#root_bottom_box #rb_box_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#root_bottom_box .print {
  border: 0;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
#root_bottom_box .print:hover {
  background-color: #016901;
}

footer {
  background-color: #e9e9e9;
  padding: 10px;
  color: #868686;
}

@media (min-width: 280px) {
  .back {
    font-size: 90%;
  }

  .logo {
    width: 60px;
    margin-right: 20px;
  }

  .account {
    background-size: 25px;
    width: 25px;
    height: 25px;
  }

  .root_top {
    padding: 30px 0px 0px 0px;
  }

  .root_top h1 {
    padding-left: 10px;
  }

  .root_middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .basket_info {
    width: 100%;
  }

  .basket_total {
    width: 100%;
  }

  #root_bottom_box {
    margin: 10px 10px;
  }
}
@media (min-width: 1024px) {
  .back {
    font-size: 200%;
  }

  .logo {
    width: 120px;
  }

  .account {
    background-size: 45px;
    width: 50px;
    height: 50px;
  }

  .root_top {
    padding: 116px 0px 64px 0px;
  }

  .root_top h1 {
    padding-left: 60px;
  }

  .root_middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .basket_info {
    width: 40%;
    height: 520px;
  }

  .basket_total {
    width: 42%;
    height: 400px;
  }

  #root_bottom_box {
    margin: 20px 46px;
  }
}
@media (min-width: 1280px) {
  .basket_info {
    width: 40%;
    height: 500px;
  }

  .basket_total {
    width: 42%;
    height: 400px;
  }
}
@media (min-width: 1920px) {
  .basket_info {
    width: 40%;
    height: 500px;
  }

  .basket_total {
    width: 42%;
    height: 350px;
  }

  .total_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .price_sumbit input {
    font-size: large;
  }

  .price_sumbit {
    font-size: xx-large;
  }

  #root_bottom {
    font-size: xx-large;
    margin-top: 50px;
  }

  .print {
    font-size: large;
  }
}