$minWidth: 280px;

/*Навигационная панель(телефон)*/
@media(min-width:$minWidth) {
    .navbar_phone {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color:rgb(255, 217, 152);
        left: 0;
        top: 0;
        width:100%;
        box-shadow: 0px 0px 10px black;
        border-radius: 0px 0px 0px 60px;
        a {
            background-position: center;
        }
        .logo_phone {
            background-size: 100%;
            margin: 0px 0px 0px 30px;
            width: 80px;
            height: 40px;
        }
        .more {
            background-size: 100%;
            margin: 10px 10px 10px 0px;
            width: 60px;
            height: 40px;
        }
        animation: navbar 0.7s linear;
    }    
    @keyframes navbar {
        0% {opacity:0%;}
        100% {}
    }
    
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right   : 0;
        background-color: rgb(255, 217, 152);
        box-shadow: 0px 0px 10px black;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
            &:hover {
                color: #f1f1f1;
            }
        }
        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        .about {
            display: none;
        }
    }
}

/* Навигационная панель */

@media(min-width:($minWidth+720)){
    .about {
        display: block;
    }

    .navbar_phone {
        display: none;
    }

    .navbar {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color:rgb(255, 217, 152);
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: 0px 0px 10px black;
        border-radius: 0px 0px 0px 60px;
        a {
            background-position: center;
        }
    }
    .logo {
        background-size: 100%;
        margin: 0px 0px 0px 30px;
        width: 80px;
        height: 30px;
    }

    .bar {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100%;
        border-radius: 0px 0px 0px 60px;
    }
    
    .delivery, .account_disable,.account_active {
        margin-right: 10px;
        background-size: 88%;
        border-radius: 40px;
        width: 40px;
        height: 40px;
        &:hover{
            background-color: aliceblue;
            border-radius: 40px;
            transition: 0.3s linear;
        }
    }
}

@media(min-width:($minWidth+1000)) {
    .logo {
        margin: 0px 0px 0px 40px;
        width: 100px;
        height: 50px;
    }

    .delivery, .account_disable, .account_active {
        width: 50px;
        height: 50px;
    }
}

@media(min-width:($minWidth+1640)) {
    .logo {
        margin: 0px 0px 0px 40px;
        width: 140px;
        height: 70px;
    }

    .delivery, .account_disable, .account_active {
        width: 70px;
        height: 70px;
    }
}